.container,
.reverse {
  display: none;
}

.link {
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: black;
}

.socLink {
  border-bottom: 1px solid transparent;
  transition: border 0.3s ease-in-out;
}

.socLink:hover {
  color: black;
  transition: color 0.3s ease-in-out;
}

@media (max-width: 375px) {
  .container {
    position: absolute;
    display: block;
    padding: 44px 30px 0px 30px;
    border-top: 1px solid black;
    width: 100%;
    background-color: white;
    z-index: 2;
    transition: top ease 5s;
    top: 100px;
    width: 315px;
  }

  .reverse {
    position: absolute;
    display: block;
    padding: 44px 30px 0px 30px;
    border-top: 1px solid black;
    background-color: white;
    z-index: 2;
    top: -500px;
    transition: top ease 5s;
  }

  .navItem {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .link {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-decoration: none;
    color: #676767;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
  }

  .socIcon {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-top: 44px;
    margin-bottom: 80px;
  }
}
