@media (max-width: 375px) {
  .none {
    display: none;
  }

  @keyframes container {
    from {
      top: -120%;
    }
    to {
      top: 100px;
    }
  }

  .container {
    position: absolute;
    top: -120%;
    padding: 44px 30px 0px 30px;
    border-top: 1px solid black;
    width: 100%;
    background-color: white;
    z-index: 2;
    animation: container 5s;
    animation-fill-mode: forwards;
  }

  .navItem {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .link {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-decoration: none;
    color: #676767;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
  }

  .socIcon {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-top: 44px;
    margin-bottom: 80px;
  }
}

.none {
  display: none;
}
