.background {
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-radius: 30px;
  margin: 0 97px;
  padding: 48px 31px 48px 66px;
}

.info {
  color: white;
  font-family: "Poppins", sans-serif;
}

.title {
  font-weight: 600;
  font-size: 45px;
  margin: 0;
  padding: 0;
}

.text {
  font-weight: 500;
  font-size: 20px;
  color: #d4d4d4;
  opacity: 0.6;
  margin: 0;
  padding: 0;
}

.createSell {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  margin-top: 37px;
  display: flex;
  gap: 24px;
}

.container {
  margin: 5px 0 120px 0;
  padding-top: 120px;
}

.img {
  width: 369px;
  height: 249px;
}

.imgLong {
  display: none;
}

@media (max-width: 1024px) {
  .background {
    margin: 0 67px;
    border-radius: 22px;
    padding: 36px 22px 36px 47px;
  }

  .title {
    font-weight: 600;
    font-size: 33px;
  }

  .text {
    font-weight: 500;
    font-size: 15px;
  }

  .buttons {
    gap: 18px;
  }

  .img {
    width: 263px;
    height: 186px;
  }

  .container {
    margin-bottom: 90px;
  }

  .imgLong {
    display: none;
  }
}

@media (max-width: 375px) {
  .background {
    box-sizing: border-box;
    width: 315px;
    height: 211px;
    margin: 0 30px;
    padding: 22px 30px 87px 30px;
  }

  .title {
    font-weight: 600;
    font-size: 24px;
  }

  .text {
    font-weight: 500;
    font-size: 10px;
    text-align: center;
  }

  .info {
    width: 254px;
    gap: 9px;
  }

  .createSell {
    gap: 22px;
  }

  .buttons {
    margin: 0 auto;
  }

  .img {
    display: none;
  }

  .imgLong {
    display: block;
    width: 251px;
    height: 130px;
    position: relative;
    top: 140px;
    left: -253px;
    border-radius: 9px;
    box-shadow:
      6px 4px 30px -10px #ecc9b5,
      -6px 4px 30px -10px #b9d1d1;
  }
}
