.button {
  box-sizing: border-box;
  width: 200px;
  height: 54px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: black;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 1.5px solid transparent;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.button:hover {
  border: 1.5px solid black;
  background-color: #d7d7d7;
  color: black;
}

.createButton {
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 12px;
  width: 140px;
  height: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.createButton:hover {
  background-color: black;
  color: white;
  border: 2px solid transparent;
}

.exploreButton {
  box-sizing: border-box;
  width: 180px;
  height: 60px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: black;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 2px solid transparent;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.exploreButton:hover {
  border: 2px solid black;
  background-color: #d7d7d7;
  color: black;
}

.explore2 {
  border: 2px solid #fff;
  border-radius: 12px;
  width: 180px;
  height: 68px;
  background-color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 21px;
  color: black;
  cursor: pointer;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.explore2:hover {
  color: white;
  background-color: black;
}

.sell {
  border: 2px solid #fff;
  border-radius: 12px;
  width: 180px;
  height: 68px;
  background-color: black;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 21px;
  color: #fff;
  cursor: pointer;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.sell:hover {
  color: black;
  background-color: white;
}

.sliderButton {
  background: #141416;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 9px;
  width: 120px;
  height: 50px;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;
  border: 2px solid transparent;
  cursor: pointer;
}

.sliderButton:hover {
  background-color: #fff;
  color: black;
  border: 2px solid black;
}

@media (max-width: 1024px) {
  .button {
    width: 140px;
    height: 40px;
    font-weight: 600;
    font-size: 11px;
    border-radius: 12px;
  }

  .exploreButton,
  .createButton {
    width: 130px;
    height: 42px;
    border-radius: 9px;
    font-weight: 500;
    font-size: 11px;
  }

  .explore2,
  .sell {
    font-weight: 600;
    font-size: 16px;
    width: 135px;
    height: 51px;
  }

  .sliderButton {
    width: 90px;
    height: 38px;
    font-size: 10px;
    font-weight: 600;
  }
}

@media (max-width: 375px) {
  .button {
    display: none;
  }

  .exploreButton {
    width: 128px;
    height: 47px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 11px;
  }

  .createButton {
    width: 99px;
    height: 47px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 11px;
  }

  .explore2,
  .sell {
    width: 91px;
    height: 34px;
    font-weight: 600;
    font-size: 10px;
    border-radius: 6px;
  }

  .mobileExplore {
    border-radius: 15px;
    width: 316px;
    height: 60px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    background-color: #000;
    transition:
      color 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
  }

  .mobileExplore:hover {
    color: black;
    background-color: white;
  }
}
