.button {
  box-sizing: border-box;
  width: 200px;
  height: 54px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: black;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 1.5px solid transparent;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.button:hover {
  border: 1.5px solid black;
  background-color: #d7d7d7;
  color: black;
}

.createButton {
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 18px 21px;
  width: 140px;
  height: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.createButton:hover {
  background-color: black;
  color: white;
  border: 2px solid transparent;
}

.exploreButton {
  box-sizing: border-box;
  width: 180px;
  height: 60px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: black;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 2px solid transparent;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.exploreButton:hover {
  border: 2px solid black;
  background-color: #d7d7d7;
  color: black;
}

.explore2 {
  border: 2px solid #fff;
  border-radius: 12px;
  width: 180px;
  height: 68px;
  background-color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 21px;
  color: black;
  cursor: pointer;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.explore2:hover {
  color: white;
  background-color: black;
}

.sell {
  border: 2px solid #fff;
  border-radius: 12px;
  width: 180px;
  height: 68px;
  background-color: black;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 21px;
  color: #fff;
  cursor: pointer;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.sell:hover {
  color: black;
  background-color: white;
}
