.container {
  display: flex;
  padding: 115px 97px;
  overflow: hidden;
  height: 600px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 76px;
  line-height: 111%;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: #141416;
  width: 567px;
  opacity: 0;
  animation: arrow 10s;
  animation-fill-mode: forwards;
}

.text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #676767;
  width: 491px;
  opacity: 0;
  animation: arrow 10s;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

.bonus {
  font-weight: bold;
  color: black;
}

.buttons {
  display: flex;
  gap: 22px;
  margin-top: 44px;
  opacity: 0;
  animation: arrow 10s;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
}

@keyframes arrow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes imageLeft {
  from {
    left: 101%;
  }
  to {
    left: 0%;
  }
}

@keyframes imageRight {
  from {
    left: 120%;
  }
  to {
    left: 65%;
  }
}

@keyframes grid {
  from {
    left: 130%;
  }
  to {
    left: 730px;
  }
}

.grid {
  position: relative;
  display: block;
  top: -1050px;
  left: 730px;
  z-index: 0;
  animation: grid 15s;
}
.imgLeft {
  position: relative;
  top: -50px;
  animation: imageLeft 15s;
}

.imgRight {
  position: relative;
  top: -400px;
  right: -485px;
  animation: imageRight 15s;
  z-index: 2;
}

.arrow {
  animation: arrow 15s;
  animation-delay: 11s;
  position: relative;
  opacity: 0;
  top: -830px;
  left: 130px;
  animation-fill-mode: forwards;
}

.statistics {
  display: flex;
  gap: 60px;
  margin-top: 81px;
  opacity: 0;
  animation: arrow 10s;
  animation-delay: 900ms;
  animation-fill-mode: forwards;
}

.statTitle {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  color: #141416;
  padding-bottom: 10px;
}

.statText {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #848586;
}
