.container {
  display: flex;
  padding: 115px 97px;
  overflow: hidden;
  height: 600px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 76px;
  line-height: 111%;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: #141416;
  width: 567px;
  opacity: 0;
  animation: arrow 10s;
  animation-fill-mode: forwards;
}

.text {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #676767;
  width: 491px;
  opacity: 0;
  animation: arrow 10s;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

.bonus {
  font-weight: bold;
  color: black;
}

.buttons {
  display: flex;
  gap: 22px;
  margin-top: 44px;
  opacity: 0;
  animation: arrow 10s;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
}

@keyframes arrow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes imageLeft {
  from {
    left: 101%;
  }
  to {
    left: 10%;
  }
}

@keyframes imageRight {
  from {
    left: 1050px;
  }
  to {
    left: 550px;
  }
}

@keyframes grid {
  from {
    left: 130%;
  }
  to {
    left: 720px;
  }
}

.grid {
  position: relative;
  display: block;
  top: -750px;
  left: 720px;
  z-index: 0;
  animation: grid 15s;
  width: 173px;
  height: 400px;
}
.imgLeft {
  position: relative;
  animation: imageLeft 15s;
  animation-fill-mode: forwards;
}

.imgRight {
  position: relative;
  top: -220px;
  right: 100px;
  width: 400px;
  height: 320px;
  animation: imageRight 15s;
  z-index: 2;
  animation-fill-mode: forwards;
}

.arrow {
  animation: arrow 15s;
  animation-delay: 11s;
  position: relative;
  opacity: 0;
  top: -550px;
  left: 90px;
  animation-fill-mode: forwards;
}

.statistics {
  display: flex;
  gap: 60px;
  margin-top: 81px;
  opacity: 0;
  animation: arrow 10s;
  animation-delay: 900ms;
  animation-fill-mode: forwards;
}

.statTitle {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  color: #141416;
  padding-bottom: 10px;
}

.statText {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #848586;
}

@media (max-width: 1024px) {
  .container {
    padding: 88px 67px;
  }

  .title {
    font-weight: 600;
    font-size: 54px;
    width: 350px;
  }

  .text {
    font-weight: 400;
    font-size: 13px;
    width: 350px;
  }

  .info {
    gap: 15px;
  }

  .buttons {
    margin-top: 36px;
  }

  .statistics {
    gap: 40px;
    margin-top: 58px;
  }

  .statTitle {
    font-weight: 600;
    font-size: 26px;
  }

  .statText {
    font-weight: 500;
    font-size: 9px;
  }

  @keyframes imageLeft {
    from {
      left: 130%;
    }
    to {
      left: 80px;
    }
  }

  @keyframes imageRight {
    from {
      left: 100%;
    }
    to {
      left: 105px;
    }
  }

  @keyframes grid {
    from {
      left: 140%;
    }
    to {
      left: 500px;
    }
  }

  @keyframes arrow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .imgLeft {
    width: 280px;
    height: 280px;
    animation: imageLeft 15s;
    animation-fill-mode: forwards;
  }

  .imgRight {
    box-sizing: content-box;
    width: 230px;
    height: 230px;
    animation: imageRight 15s;
    animation-fill-mode: forwards;
    top: 70px;
  }

  .grid {
    animation: grid 15s;
    animation-fill-mode: forwards;
    top: -400px;
    width: 123px;
    height: 284px;
  }

  .arrow {
    animation: arrow 15s;
    top: -260px;
    left: 380px;
    width: 91px;
    height: 88px;
    animation-delay: 11s;
    animation-fill-mode: forwards;
  }
}
