.container {
  display: flex;
  padding: 0 97px;
  margin-top: 115px;
  overflow: hidden;
  position: absolute;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 76px;
  line-height: 111%;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: #141416;
  width: 567px;
}

.text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #676767;
  width: 491px;
}

.bonus {
  font-weight: bold;
  color: black;
}

.buttons {
  display: flex;
  gap: 22px;
  margin-top: 44px;
}

@keyframes imageLeft {
  from {
    left: 101%;
  }
  to {
    left: 0%;
  }
}

@keyframes imageRight {
  from {
    left: 120%;
  }
  to {
    left: 65%;
  }
}

@keyframes arrow {
  from {
    left: 130%;
  }
  to {
    left: 17%;
  }
}

.imgLeft {
  position: relative;
  top: -50px;
  animation: imageLeft 15s;
}

.imgRight {
  position: relative;
  top: -400px;
  right: -485px;
  animation: imageRight 15s;
}

.arrow {
  position: relative;
  top: -830px;
  left: 130px;
  animation: arrow 15s;
}

.grid {
  position: relative;
  top: -900px;
}

// .img {
//   position: relative;
//   animation: image 15s;
// }

.statistics {
  display: flex;
  gap: 60px;
  margin-top: 81px;
}

.statTitle {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  color: #141416;
  padding-bottom: 10px;
}

.statText {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #848586;
}
