.img {
  width: 253px;
  height: 253px;
}

.title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 22px;
  color: #141416;
  margin-right: auto;
  padding-left: 14px;
  padding-top: 20px;
}

.imgMini {
  display: block;
  width: 11.4px;
  height: 18.7px;
}

.currentAndButton {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  width: 100%;
  box-sizing: border-box;
}
.current {
  display: flex;
  flex-direction: column;
}

.text {
  font-weight: 400;
  font-size: 14px;
  color: #94a3b8;
}

.number {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  color: #141416;
}

.bid {
  display: flex;
  gap: 7px;
  padding-top: 7px;
}

.container {
  padding-bottom: 50px;
}
