.container {
  font-family: "Inter", sans-serif;
  margin: 0 97px;
  border: 3px solid black;
  display: flex;
  border-radius: 10px;
  box-shadow: 19px 16px 32px 15px rgba(34, 60, 80, 0.2);
}

.text {
  font-size: 30px;
  padding: 10px 0;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    margin: 0 67px;
  }

  .text {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .container {
    margin: 0 30px;
  }

  .text {
    font-size: 18px;
    padding: 10px;
    text-align: center;
  }
}
