.container {
  display: flex;
  gap: 66px;
  align-items: center;
}

.navItem {
  text-decoration: none;
  display: flex;
  list-style: none;
  gap: 50px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.link {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #606060;
  transition:
    color 0.3s ease-in-out,
    border-bottom 0.3s ease-in-out;
}

.link:hover {
  color: black;
  border-bottom: 2px solid black;
}

.mobileNav {
  display: none;
}

.mobileTitle {
  display: none;
}

@media (max-width: 1024px) {
  .mobileNav {
    display: none;
  }

  .navItem {
    gap: 32px;
  }

  .container {
    gap: 49px;
    align-items: center;
  }

  .link {
    font-size: 14px;
    font-weight: 500;
  }

  .logo {
    width: 38px;
    height: 38px;
  }

  .mobileTitle {
    display: none;
  }
}

@media (max-width: 375px) {
  .navItem {
    display: none;
  }

  .logo {
    width: 46px;
    height: 46px;
  }

  .mobileNav {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  .line {
    border-bottom: 2px solid black;
    width: 31.5px;
  }

  .container {
    justify-content: space-between;
    width: 315px;
  }

  .mobileTitle {
    display: block;
  }

  .logoLink {
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
    color: black;
  }

  .mobileClose {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 18px;
    height: 18px;
  }
  .lineCloseLeft {
    border-bottom: 2px solid black;
    position: relative;
    transform: rotate(45deg);
    top: 7.8px;
    width: 18px;
  }
  .lineCloseRight {
    position: relative;
    border-bottom: 2px solid black;
    transform: rotate(-45deg);
    top: -5px;
    width: 18px;
  }
}
