.container {
  display: flex;
  justify-content: space-between;
  padding: 0 97px;
  font-family: "Inter", sans-serif;
  margin-top: 45px;
  height: 54px;
}

@media (max-width: 1024px) {
  .container {
    margin-top: 32px;
    padding: 0 67px;
    height: 40px;
  }
}

@media (max-width: 375px) {
  .container {
    margin-top: 30px;
    padding: 0 30px;
    height: auto;
    width: 315px;
  }
}
