.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 97px;
  font-family: "Inter", sans-serif;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 1505px;
  box-sizing: border-box;
  background-color: white;
  align-items: center;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 67px;
    width: 1008px;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 0 30px;
    width: 500px;
  }
}
