.container {
  background-color: black;
  color: white;
  padding: 0 97px;
}

.miniContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 88px;
  padding-bottom: 25px;
  border-bottom: 1px solid #818181;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
a {
  text-decoration: none;
}
.logo .title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
}

.links {
  display: flex;
  gap: 70px;
  font-family: "Inter", sans-serif;
  align-items: center;
}

.link {
  color: #b9b9b9;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: white;
}

.social {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #999;
  margin-top: 56px;
  padding-bottom: 86px;
}

.socialIcon {
  display: flex;
  gap: 40px;
  align-items: center;
}

.soc {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}

.soc:hover {
  border-bottom: 1px solid #999;
}

.mobileDate {
  display: none;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 67px;
  }

  .logo {
    width: 46px;
    height: 46px;
  }

  .title {
    font-weight: 600;
    font-size: 21px;
  }

  .link {
    font-weight: 500;
    font-size: 12px;
  }

  .links {
    gap: 50px;
  }

  .miniContainer {
    padding-top: 73px;
    padding-bottom: 34px;
  }

  .socialIcon {
    gap: 29px;
  }

  .socImg {
    width: 14px;
    height: 14px;
  }

  .date {
    font-weight: 500;
    font-size: 12px;
  }

  .social {
    margin-top: 40px;
    padding-bottom: 60px;
  }

  .mobileDate {
    display: none;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #818181;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .miniContainer {
    flex-direction: column;
    gap: 32px;
    padding-top: 52px;
    border: none;
  }

  .links {
    flex-direction: column;
    gap: 30px;
    align-items: start;
  }

  .link {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }

  .logo {
    font-weight: 600;
    font-size: 22px;
  }

  .date {
    display: none;
  }

  .socialIcon {
    gap: 10px;
    padding-top: 52px;
  }

  .soc {
    width: 17px;
    height: 17px;
  }

  .social {
    margin: 0;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobileDate {
    display: block;
    border-top: 1px solid #818181;
    padding-top: 26px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #999;
    text-align: center;
    padding-bottom: 40px;
  }
}
